@model ShakeMaker.Models.Admin


@{
        ViewBag.Title = "Profile";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>adminProfile</title>
</head>
<body>
    <div>
        <h2>Admin private area</h2>
    </div>
    <div>
        @{ 
            ShakeMaker.Dal.UserDal dal = new ShakeMaker.Dal.UserDal();
            if (dal.getUserCount()==0)
            {
                <p>There are no users to display</p>
            }
            else
            {
                <p>List of all users:</p>
                <table style="width:40%; text-align: center;" border="1">
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                    @{ 
                        List<ShakeMaker.Models.RegularUser> users = dal.getAllUsers();
                        foreach (ShakeMaker.Models.RegularUser user in users)
                        {
                            <tr>
                                <td>@user.userName</td>
                                <td>@user.email</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
    </div>
    <br />
    <div>
        <input id="createCocktail" type="button" value="Create Cocktail" name="createCocktail" onclick="location.href='@Url.Action("createCocktailForm","User")'" />
    </div>
</body>
</html>
