@using ShakeMaker.Models
@using ShakeMaker.Dal
@using ShakeMaker.ModelBinders

<div class="container">
   @{ 
       CocktailDal coc = new ShakeMaker.Dal.CocktailDal();
       List<Cocktails> cocktails = new List<Cocktails>();
       foreach (CocktailDataBaseBinder cocktail in coc.cocktails)
       {
           cocktails.Add(cocktail.getCocktail());
       }
       List<CocktailName> names = new List<ShakeMaker.Models.CocktailName>();
       foreach (CocktailDataBaseBinder cocktail in coc.cocktails)
       {
           names.Add(new CocktailName(cocktail.name, (Category)cocktail.category));
       }
       WebGrid obj = new WebGrid(names);
    }
    @obj.GetHtml()
</div>