@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    #logoPic {
        height: 100px;
        width: 100px;
    }

    #websiteTitle {
        font-size: 5em;
        vertical-align: middle;
        font-family: 'Pacifico', cursive;
        color: black;
    }

    #websiteSlogan {
        font-size: 2em;
        font-family: 'Pacifico', cursive;
    }
</style>

<link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />

<div class="container">
    <img src="https://n6-img-fp.akamaized.net/free-vector/set-of-vector-illustration-stemware_1441-39.jpg?size=338&ext=jpg" id="logoPic" alt="Logo Picture" />
    <span id="websiteTitle">Shake Maker</span>
    <p id="websiteSlogan">Making your party better</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>