@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    #logoPic {
        height: 100px;
        width: 100px;
    }

    #websiteTitle {
        font-size: 5em;
        vertical-align: middle;
        font-family: 'Pacifico', cursive;
        color: black;
    }

    #websiteSlogan {
        font-size: 2em;
        font-family: 'Pacifico', cursive;
    }
</style>

<link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />

<div class="container">
    <img src="https://n6-img-fp.akamaized.net/free-vector/set-of-vector-illustration-stemware_1441-39.jpg?size=338&ext=jpg" id="logoPic" alt="Logo Picture" />
    <span id="websiteTitle">Shake Maker</span>
    <p id="websiteSlogan">Making your party better</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Look for your favourite cocktails. Add them to your favourites and view videos of descriptions on how to make them!!
        </p>
    </div>
</div>

@Html.Partial("DisplayCocktails");

<div>
    <form action="@Url.Action("CocktailInfo", "Home")" method="post">
        <label for="cocktailName">Enter cocktail name to view information:</label>
        <input class="form-control input-lg" id="cocktailName" type="text" name="cocktailName" />
        <input type="submit" class="btn btn-info" value="Submit" />
    </form>
</div>