@model ShakeMaker.Models.RegularUser
@using ShakeMaker.Models

@{ 
    ViewBag.Title = "Profile";
}

<div>
    <h1>List of Favourite Cocktails:</h1>
    <ul>
        @{ 
            foreach (Cocktails cocktail in Model.favCocktails)
            {
                <li>
                    <a href="@Url.Action("FromUserToCocktailInfo","Home", new { cid=cocktail.cid })">@cocktail.name</a>
                </li>
            }
        }
    </ul>
</div>
