@model ShakeMaker.Models.RegularUser
@using ShakeMaker.Models

@{ 
    ViewBag.Title = "Profile";
    if (Session["tempUser"] == null)
    {
        HttpContext.Current.Response.Redirect("~/Home/Login");
    }
}

<div>
    <h1>List of Favourite Cocktails:</h1>
    <ul>
        @{  if (Model != null)
            {
                foreach (Cocktails cocktail in Model.favCocktails)
                {
                <li>
                    <a href="@Url.Action("FromUserToCocktailInfo", "Home", new { cid = cocktail.cid })">@cocktail.name</a>
                </li>
                }
            }
            }
</ul>
</div>
