@model ShakeMaker.Models.SuperUser

@{
    ViewBag.Title = "Login";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#submitInfo").click(function () {
            if ($("#usrNameInput").val() == "") {
                alert("User name was not inserted.");
            }
            else if (($("#usrPassInput").val() == "")) {
                alert("Password was not inserted.");
            }
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<div class="container">
    <h3 style="color:blue">Login</h3>
    <p>Login to see your favorite cocktails!</p>
    <form action="@Url.Action("Login","User")" method="post">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input class="form-control input-lg" id="usrNameInput" type="text" name="userName" />
        </div>
        <div class="form-group">
            <label for="userPassword">Password:</label>
            <input class="form-control input-lg" id="usrPassInput" type="password" name="userPassword" />
            
        </div>
        <div>
            <input id="regularUser" name="userType" type="radio" value="regularUser" checked />
            <label for="regularUser">Regular User</label>
            <br />
            <input id="admin" name="userType" type="radio" value="admin" />
            <label for="admin">Admin</label>
        </div>
        <input type="submit" class="btn btn-info" value="Login" id="submitInfo" />
        <br />
        <p style="color:red">@ViewData["inputError"]</p>
    </form>
</div>
